.card.darkmode {
  background-color: #1d1d1d;
  color: white;
  transition: 0.8s;
  width: 350px;
  min-height: 350px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card.lightmode {
  background-color: #ebecf0;
  color: black;
  transition: 0.8s;
  width: 350px;
  min-height: 350px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card:hover {
  background-color: #434343;
}

.arrow-image.lightmode {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.8s;
}

.arrow-image.darkmode {
  width: 30px;
  height: 30px;
  filter: invert();
  cursor: pointer;
  transition: 0.8s;
}

.arrow-image:hover {
  filter: invert(0.4);
}

.card-image {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}

.card-platforms {
  display: flex;
  margin: 15px 15px;
  gap: 10px;
}

.platform-icon {
  width: 21px;
  height: 26px;
  object-fit: contain;
  filter: invert(0.7);
}

.game-title {
  margin-left: 10px;
}

.game-rating-container {
  align-self: flex-end;
}

.game-rating.darkmode {
  display: inline;
  margin: 0px;
  margin-left: auto;
  background-color: #303733;
  color: #bbd4c1;
  padding: 2px 15px;
  border-radius: 7px;
}

.game-rating.lightmode {
  display: inline;
  margin: 0px;
  margin-left: auto;
  background-color: #bbd4c1;
  color: black;
  padding: 2px 15px;
  border-radius: 7px;
}
