.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button.darkmode {
  padding: 12px;
  cursor: pointer;
  background-color: #383838;
  color: #efefef;
  border-radius: 7px;
  border-width: 0;
  font-weight: bold;
  display: flex;
  font-size: 17px;
  gap: 8px;
}

.dropdown-button.lightmode {
  padding: 12px;
  cursor: pointer;
  background-color: #efefef;
  color: #383838;
  border-radius: 7px;
  border-width: 0;
  font-weight: bold;
  display: flex;
  font-size: 17px;
  gap: 8px;
}
.arrow {
  display: inline-block;
  margin-left: 5px;
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transition: transform 0.3s ease;
}

.dropdown-content.darkmode {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #202020;
  font-size: 15px;
}


.dropdown-content.lightmode {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #efefef;
  font-size: 15px;
}


.dropdown-content:active {
  transition: background-color 1.4s, box-shadow 1s, transform 0.6s;
}

.dropdown-item {
  padding: 7px;
  cursor: pointer;
  display: flex;
  /* gap: 100px; */
}

.dropdown-item:hover {
  background-color: #b3b3b3;
}

.dropdown.open .dropdown-content {
  display: block;
  margin-top: 10px;
  border-radius: 7px;
}
